<style type="text/css">
.table-fixed thead {
  width: 97%;
}
.table-fixed tbody {
  height: 500px;
  overflow-y: auto;
  width: 100%;
}
.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
  display: block;
}
.table-fixed tbody td, .table-fixed thead > tr> th {
  float: left;
  border-bottom-width: 0;
}

tbody> tr {
  cursor: pointer;
}
</style>

<div class="table-responsive countries">
  <table class="table table-striped table-hover table-fixed">
    <thead>
    <tr>
      <th class="col-xs-3">Name</th>
      <th class="col-xs-1">Country Code</th>
      <th class="col-xs-2">Capital</th>
      <th class="col-xs-2">Area in km2</th>
      <th class="col-xs-2">Population</th>
      <th class="col-xs-2">Continent</th>
    </tr>
    </thead>
    <tbody>
      <tr ng-repeat="country in countriesCtrl.countries | orderBy : 'continentName'"
        ng-click="countriesCtrl.gotoCountryDetails(country.countryCode)">
        <td class="col-xs-3">{{ country.countryName | limitTo: 10 }}</td>
        <td class="col-xs-1">{{ country.countryCode }}</td>
        <td class="col-xs-2">{{ country.capital | limitTo: 5 }}</td>
        <td class="col-xs-2">{{ country.areaInSqKm | number:0 }}</td>
        <td class="col-xs-2">{{ country.population | number:0 }}</td>
        <td class="col-xs-2">{{ country.continentName  }}</td>
      </tr>
    </tbody>
  </table>

</div>
<div class="col-md-12">
  <button class="btn btn-default btn-primary" ng-click="countriesCtrl.gotoHome()">Home</button>
</div>