.container {
  width: 800px;
}

.top-menu {
  font-weight: bold;
  margin-bottom: 5px;
}

.home {
  min-height: 500px;
}

.countries {
  min-height: 300px;
}

.country {
  min-height: 300px;
}

.images {
  margin: 10px 0;
  height: 350px
}

p {
  margin-bottom: 2px;
}

h1 {
  margin: 5px 0;
}

hr {
  margin: 5px  0;
}
